Package: netproc
Version: 0.5.5-1
Architecture: amd64
Maintainer: Mayco Souza Berghetti <mayco.s.berghetti@gmail.com>
Installed-Size: 63
Depends: libc6 (>= 2.17), libncurses6 (>= 6.1), libtinfo6 (>= 6.1)
Section: net
Priority: optional
Homepage: https://github.com/berghetti/netproc
Description: tool to monitor network usage by processes
 netproc monitors network traffic and tries to find out which process
 this traffic belongs to, this is useful to identify the processes that
 are consuming network resources and troubleshooting.
